.result-page {
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-message {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 20px;
}
