.ship-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.ship-controls .label, .ship-types {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
}

.ship-buttons-row {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Базовий стиль кнопок */
.ship-btn {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
}

.ship-btn:hover,
.ship-btn.active {
    background-color: var(--primary-color);
    color: white;
}


