.fullPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

.title {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 250px;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: var(--primary-hover);
}
