.cell {
    background-color: lightblue;
    border: 1px solid #333;
    cursor: pointer;
}
.cell:hover {
    background-color: deepskyblue;
}

.cell.miss {
    background-color: #333;
    border: 1px solid #222;
    position: relative;
}
.cell.miss:after {
    content: "•";
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cell.hit {
    background-color: red;
}
.cell.sunk {
    background-color: black;
}
