.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.label {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
}

.shipButtonsRow {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

/* кнопки кораблів */
.shipBtn {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;
}

.shipBtn:hover {
    background-color: var(--primary-color);
    color: white;
}

.active {
    background-color: var(--primary-color);
    color: white;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* загальні широкі кнопки */
.fullBtn {
    padding: 10px 16px;
    width: 200px;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.secondary {
    background-color: #cde3ff;
    color: var(--primary-color);
}

.secondary:hover {
    background-color: var(--primary-color);
    color: #cde3ff;
}

.danger {
    background-color: #ffcccc;
    color: #800000;
}

.danger:hover  {
    background-color: #800000;
    color: #ffcccc;
}
