:root {
    --bg-color: #ECF6FF;
    --primary-color: #03045E;
    --primary-hover: #020345;
    --text-color: #03045E;
    --font-family: 'Montserrat', sans-serif;
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}
.overlay-gdpr {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 9998;
}
